<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-TileColor" content="#fc1d42">
    <meta name="theme-color" content="#212121">
    <meta name="apple-mobile-web-app-status-bar-style" content="#212121">
    <meta name="msapplication-TileImage" content="assetsfaviconsmstile-144x144.png">
    <meta property="og:site_name" content="Red Badger">
    <meta property="og:title" content="Red Badger" />
    <meta property="og:description" content="Let’s make things better. We work with you to deliver digital products that make a difference to people." />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" itemprop="image" content="https://red-badger.com/assets-honestly/social/rb_facebook.png">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-57x57.png" type="image/png" sizes="57x57">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-60x60.png" type="image/png" sizes="60x60">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-72x72.png" type="image/png" sizes="72x72">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-76x76.png" type="image/png" sizes="76x76">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-114x114.png" type="image/png" sizes="114x114">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-120x120.png" type="image/png" sizes="120x120">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-144x144.png" type="image/png" sizes="144x144">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-152x152.png" type="image/png" sizes="152x152">
    <link rel="apple-touch-icon" href="/assets-honestly/favicons/apple-touch-icon-180x180.png" type="image/png" sizes="180x180">
    <link rel="icon" href="/assets-honestly/favicons/favicon-96x96.png" type="image/png" sizes="96x96">
    <link rel="icon" href="/assets-honestly/favicons/favicon-192x192.png" type="image/png" sizes="192x192">
    <link rel="icon" href="/assets-honestly/favicons/favicon-16x16.png" type="image/png" sizes="16x16">
    <link rel="icon" href="/assets-honestly/favicons/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="/assets-honestly/favicons/favicon-194x194.png" type="image/png" sizes="194x194">
    <title><% if (typeof title !== 'undefined') {%><%= title %><% } %></title>
    <% if (typeof cssPath !== 'undefined') { %><link rel="stylesheet" href="<%= cssPath %>" type="text/css" charset="utf-8"><% } %>
    <% if (typeof tracking !== 'undefined' && tracking) { %>
    <script type="text/javascript" src="https://secure.leadforensics.com/js/77932.js" /><noscript><img src="https://secure.leadforensics.com/77932.png" style="display: none;" /></noscript>
    <script type="text/javascript">
var _gaq = _gaq || [];
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-16654919-1', 'auto');
ga('send', 'pageview');
    </script><% } %>
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7838134/6842972/css/fonts.css" />
  </head>
  <body>
    <div class="js-app">
      <% if (typeof bodyContent !== 'undefined') { %><%= bodyContent %><% } %>
    </div>
    <input id="state" type="hidden" value="<%= typeof state !== 'undefined' ? state : '{}' %>">
    <% if (typeof jsPath !== 'undefined') { %><script type="text/javascript" src="<%= jsPath %>"></script><% } %>
  </body>
</html>
